USE [master]
GO
/****** Object:  Database [Xram2.0]    Script Date: 20.11.2024 15:11:06 ******/
CREATE DATABASE [Xram2.0]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Xram2.0', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Xram2.0.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Xram2.0_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Xram2.0_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Xram2.0].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Xram2.0]
GO
/****** Object:  Table [dbo].[ActivityMain]    Script Date: 20.11.2024 15:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityMain](
	[id] [int] NOT NULL,
	[ideventname] [int] NOT NULL,
	[idWinner] [int] NOT NULL,
	[StartDate] [date] NOT NULL,
	[CountOfDays] [int] NOT NULL,
 CONSTRAINT [PK_ActivityMain] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ActivityName]    Script Date: 20.11.2024 15:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityName](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ActivityName] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ActivityTimeRate]    Script Date: 20.11.2024 15:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityTimeRate](
	[id] [int] NOT NULL,
	[idActivityMain] [int] NOT NULL,
	[idActivityName] [int] NOT NULL,
	[IdModer] [int] NOT NULL,
	[IdJudge1] [int] NOT NULL,
	[IdJudge2] [int] NULL,
	[IdJudge3] [int] NULL,
	[IdJudge4] [int] NULL,
	[IdJudge5] [int] NULL,
	[NumOfday] [int] NOT NULL,
	[StartTime] [time](7) NOT NULL,
 CONSTRAINT [PK_ActivityTimeRate] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 20.11.2024 15:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[id] [int] NOT NULL,
	[city] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 20.11.2024 15:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[id] [int] NOT NULL,
	[CoutryName] [nvarchar](max) NOT NULL,
	[CountyNameEng] [nvarchar](max) NOT NULL,
	[id2] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Diretion]    Script Date: 20.11.2024 15:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diretion](
	[id] [int] NOT NULL,
	[direction] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Diretion] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Event]    Script Date: 20.11.2024 15:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event](
	[id] [int] NOT NULL,
	[eventname] [nvarchar](max) NOT NULL,
	[date] [date] NOT NULL,
	[days] [int] NULL,
	[city] [int] NOT NULL,
	[direction] [nvarchar](50) NOT NULL,
	[EventImage] [image] NULL,
 CONSTRAINT [PK_Event] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 20.11.2024 15:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[id] [int] NOT NULL,
	[role] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 20.11.2024 15:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[id] [int] NOT NULL,
	[FIO] [nvarchar](50) NOT NULL,
	[sex] [int] NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[birthday_date] [date] NOT NULL,
	[coutry] [int] NULL,
	[number] [nvarchar](50) NOT NULL,
	[directionID] [int] NULL,
	[usereventID] [int] NULL,
	[photo] [nvarchar](50) NOT NULL,
	[role] [int] NULL,
	[photo2] [nvarchar](50) NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserEvent]    Script Date: 20.11.2024 15:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserEvent](
	[id] [int] NOT NULL,
	[eventname] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_UserEvent_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserGender]    Script Date: 20.11.2024 15:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserGender](
	[id] [int] NOT NULL,
	[sex] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_UserGender] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ActivityMain] ([id], [ideventname], [idWinner], [StartDate], [CountOfDays]) VALUES (1, 1, 7, CAST(N'2022-03-26' AS Date), 2)
INSERT [dbo].[ActivityMain] ([id], [ideventname], [idWinner], [StartDate], [CountOfDays]) VALUES (2, 2, 59, CAST(N'2022-03-30' AS Date), 2)
INSERT [dbo].[ActivityMain] ([id], [ideventname], [idWinner], [StartDate], [CountOfDays]) VALUES (3, 9, 38, CAST(N'2022-05-02' AS Date), 3)
GO
INSERT [dbo].[ActivityName] ([id], [name]) VALUES (1, N'Must Have 21 века')
INSERT [dbo].[ActivityName] ([id], [name]) VALUES (2, N'Soft skills')
INSERT [dbo].[ActivityName] ([id], [name]) VALUES (3, N'Авторские анонсы')
GO
INSERT [dbo].[ActivityTimeRate] ([id], [idActivityMain], [idActivityName], [IdModer], [IdJudge1], [IdJudge2], [IdJudge3], [IdJudge4], [IdJudge5], [NumOfday], [StartTime]) VALUES (1, 1, 27, 54, 11, 52, 10, 41, 11, 1, CAST(N'09:00:00' AS Time))
INSERT [dbo].[ActivityTimeRate] ([id], [idActivityMain], [idActivityName], [IdModer], [IdJudge1], [IdJudge2], [IdJudge3], [IdJudge4], [IdJudge5], [NumOfday], [StartTime]) VALUES (2, 1, 4, 42, 37, 41, 26, 34, 37, 2, CAST(N'10:45:00' AS Time))
INSERT [dbo].[ActivityTimeRate] ([id], [idActivityMain], [idActivityName], [IdModer], [IdJudge1], [IdJudge2], [IdJudge3], [IdJudge4], [IdJudge5], [NumOfday], [StartTime]) VALUES (3, 1, 26, 1, 28, 34, 45, 10, 28, 2, CAST(N'12:30:00' AS Time))
GO
INSERT [dbo].[City] ([id], [city]) VALUES (1, N'Абаза')
INSERT [dbo].[City] ([id], [city]) VALUES (2, N'Абакан')
INSERT [dbo].[City] ([id], [city]) VALUES (3, N'Абдулино')
GO
INSERT [dbo].[Country] ([id], [CoutryName], [CountyNameEng], [id2]) VALUES (4, N'Афганистан', N'Afghanistan', N'AF')
INSERT [dbo].[Country] ([id], [CoutryName], [CountyNameEng], [id2]) VALUES (8, N'Албания', N'Albania', N'AL')
INSERT [dbo].[Country] ([id], [CoutryName], [CountyNameEng], [id2]) VALUES (10, N'Антарктида', N'Antarctica', N'AQ')
GO
INSERT [dbo].[Diretion] ([id], [direction]) VALUES (1, N'Аналитика')
INSERT [dbo].[Diretion] ([id], [direction]) VALUES (2, N'Биг Дата')
INSERT [dbo].[Diretion] ([id], [direction]) VALUES (3, N'Дизайн')
GO
INSERT [dbo].[Event] ([id], [eventname], [date], [days], [city], [direction], [EventImage]) VALUES (1, N'Анализ предметных областей и проектирование сценариев использования ', CAST(N'2022-03-23' AS Date), 2, 1, N'ИТ', NULL)
INSERT [dbo].[Event] ([id], [eventname], [date], [days], [city], [direction], [EventImage]) VALUES (2, N'Анализ предметных областей и проектирование сценариев использования. Часть 1 ', CAST(N'2022-03-30' AS Date), 2, 3, N'ИТ', NULL)
INSERT [dbo].[Event] ([id], [eventname], [date], [days], [city], [direction], [EventImage]) VALUES (3, N'Андрей Ершов — CRDT. Бесконфликтная синхронизация данных ', CAST(N'2022-02-28' AS Date), 3, 4, N'ИТ', NULL)
GO
INSERT [dbo].[Role] ([id], [role]) VALUES (1, N'Жюри')
INSERT [dbo].[Role] ([id], [role]) VALUES (2, N'Модератор')
INSERT [dbo].[Role] ([id], [role]) VALUES (3, N'Организатор')
GO
INSERT [dbo].[user] ([id], [FIO], [sex], [Email], [password], [birthday_date], [coutry], [number], [directionID], [usereventID], [photo], [role], [photo2]) VALUES (1, N'Абрамов Александр Алексеевич', 2, N'afe028rbd3jl@outlook.com', N'Eh23iV8Ls3', CAST(N'1977-02-18' AS Date), 8, N'+7(815) - 360-04-17', 2, 4, N'foto8.jpg', 2, NULL)
INSERT [dbo].[user] ([id], [FIO], [sex], [Email], [password], [birthday_date], [coutry], [number], [directionID], [usereventID], [photo], [role], [photo2]) VALUES (2, N'Абрамова Алиса Леонидовна', 1, N'nocyvpk7fwm4@mail.com', N'b48AE5U4pv', CAST(N'1987-10-20' AS Date), NULL, N'+7(398) - 127-62-39', 4, 3, N'foto20.jpg', 2, NULL)
INSERT [dbo].[user] ([id], [FIO], [sex], [Email], [password], [birthday_date], [coutry], [number], [directionID], [usereventID], [photo], [role], [photo2]) VALUES (3, N'Антонов Леонид Степанович', 2, N'guhxk5rd3287@mail.com', N'SX72yf8Yb4', CAST(N'1968-06-24' AS Date), NULL, N'+7(289) - 679-81-04', 1, 5, N'foto27.jpg', 2, NULL)
GO
INSERT [dbo].[UserEvent] ([id], [eventname]) VALUES (1, N'IT в бизнесе')
INSERT [dbo].[UserEvent] ([id], [eventname]) VALUES (2, N'IT-инфраструктура')
INSERT [dbo].[UserEvent] ([id], [eventname]) VALUES (3, N'Информационная безопасность')
GO
INSERT [dbo].[UserGender] ([id], [sex]) VALUES (1, N'женский')
INSERT [dbo].[UserGender] ([id], [sex]) VALUES (2, N'мужской')
GO
ALTER TABLE [dbo].[ActivityMain]  WITH CHECK ADD  CONSTRAINT [FK_ActivityMain_Event] FOREIGN KEY([ideventname])
REFERENCES [dbo].[Event] ([id])
GO
ALTER TABLE [dbo].[ActivityMain] CHECK CONSTRAINT [FK_ActivityMain_Event]
GO
ALTER TABLE [dbo].[ActivityMain]  WITH CHECK ADD  CONSTRAINT [FK_ActivityMain_user] FOREIGN KEY([idWinner])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[ActivityMain] CHECK CONSTRAINT [FK_ActivityMain_user]
GO
ALTER TABLE [dbo].[ActivityTimeRate]  WITH CHECK ADD  CONSTRAINT [FK_ActivityTimeRate_ActivityMain] FOREIGN KEY([idActivityMain])
REFERENCES [dbo].[ActivityMain] ([id])
GO
ALTER TABLE [dbo].[ActivityTimeRate] CHECK CONSTRAINT [FK_ActivityTimeRate_ActivityMain]
GO
ALTER TABLE [dbo].[ActivityTimeRate]  WITH CHECK ADD  CONSTRAINT [FK_ActivityTimeRate_ActivityName] FOREIGN KEY([idActivityName])
REFERENCES [dbo].[ActivityName] ([id])
GO
ALTER TABLE [dbo].[ActivityTimeRate] CHECK CONSTRAINT [FK_ActivityTimeRate_ActivityName]
GO
ALTER TABLE [dbo].[ActivityTimeRate]  WITH CHECK ADD  CONSTRAINT [FK_ActivityTimeRate_user] FOREIGN KEY([IdModer])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[ActivityTimeRate] CHECK CONSTRAINT [FK_ActivityTimeRate_user]
GO
ALTER TABLE [dbo].[ActivityTimeRate]  WITH CHECK ADD  CONSTRAINT [FK_ActivityTimeRate_user1] FOREIGN KEY([IdJudge1])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[ActivityTimeRate] CHECK CONSTRAINT [FK_ActivityTimeRate_user1]
GO
ALTER TABLE [dbo].[ActivityTimeRate]  WITH CHECK ADD  CONSTRAINT [FK_ActivityTimeRate_user2] FOREIGN KEY([IdJudge2])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[ActivityTimeRate] CHECK CONSTRAINT [FK_ActivityTimeRate_user2]
GO
ALTER TABLE [dbo].[ActivityTimeRate]  WITH CHECK ADD  CONSTRAINT [FK_ActivityTimeRate_user3] FOREIGN KEY([IdJudge3])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[ActivityTimeRate] CHECK CONSTRAINT [FK_ActivityTimeRate_user3]
GO
ALTER TABLE [dbo].[ActivityTimeRate]  WITH CHECK ADD  CONSTRAINT [FK_ActivityTimeRate_user4] FOREIGN KEY([IdJudge4])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[ActivityTimeRate] CHECK CONSTRAINT [FK_ActivityTimeRate_user4]
GO
ALTER TABLE [dbo].[ActivityTimeRate]  WITH CHECK ADD  CONSTRAINT [FK_ActivityTimeRate_user5] FOREIGN KEY([IdJudge5])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[ActivityTimeRate] CHECK CONSTRAINT [FK_ActivityTimeRate_user5]
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK_Event_City] FOREIGN KEY([city])
REFERENCES [dbo].[City] ([id])
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK_Event_City]
GO
ALTER TABLE [dbo].[user]  WITH CHECK ADD  CONSTRAINT [FK_user_Country] FOREIGN KEY([coutry])
REFERENCES [dbo].[Country] ([id])
GO
ALTER TABLE [dbo].[user] CHECK CONSTRAINT [FK_user_Country]
GO
ALTER TABLE [dbo].[user]  WITH CHECK ADD  CONSTRAINT [FK_user_Diretion] FOREIGN KEY([directionID])
REFERENCES [dbo].[Diretion] ([id])
GO
ALTER TABLE [dbo].[user] CHECK CONSTRAINT [FK_user_Diretion]
GO
ALTER TABLE [dbo].[user]  WITH CHECK ADD  CONSTRAINT [FK_user_Role] FOREIGN KEY([role])
REFERENCES [dbo].[Role] ([id])
GO
ALTER TABLE [dbo].[user] CHECK CONSTRAINT [FK_user_Role]
GO
ALTER TABLE [dbo].[user]  WITH CHECK ADD  CONSTRAINT [FK_user_UserEvent] FOREIGN KEY([usereventID])
REFERENCES [dbo].[UserEvent] ([id])
GO
ALTER TABLE [dbo].[user] CHECK CONSTRAINT [FK_user_UserEvent]
GO
ALTER TABLE [dbo].[user]  WITH CHECK ADD  CONSTRAINT [FK_user_UserGender] FOREIGN KEY([sex])
REFERENCES [dbo].[UserGender] ([id])
GO
ALTER TABLE [dbo].[user] CHECK CONSTRAINT [FK_user_UserGender]
GO
USE [master]
GO
